[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
packages
artifacts/*
msbuild.log
PublishProfiles/
*.psess
TestResults
.DS_Store
._.DS_Store
Nuvis.Web.Publish.xml
*.userprefs
test-results
src/logs
*.log.*
node_modules
Thumbs.db
*.playlist
TestResult.xml
.gitrules.local
